Repository Scetrov/void-eid: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-build: any of: \.rs$
  rust-test: any of: \.rs$
  frontend-typecheck: any of: \.(ts|tsx)$
  frontend-lint: any of: \.(ts|tsx|js|jsx)$
  frontend-build: any of: \.(ts|tsx|js|jsx|css|html)$

fix: add temporary directory
  .agent/rules/general-guide.md
  .gitignore
Due: none

fix: issues with super admin
  src/backend/migrations/02_create_tribes_table.sql
  src/backend/src/admin.rs
  src/backend/src/main.rs
  src/frontend/public/logo.png
  src/frontend/src/index.css
  src/frontend/src/routes/super-admin.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: murmur ICE
  .env.example
  src/murmur/Dockerfile
  src/murmur/authenticator.py
Due: none

fix: soft delete wallets
  .agent/rules/rust-guide.md
  src/backend/migrations/03_soft_delete_wallets.sql
  src/backend/src/admin.rs
  src/backend/src/auth.rs
  src/backend/src/models.rs
  src/backend/src/roster.rs
  src/backend/src/wallet.rs
  src/frontend/bun.lock
  src/frontend/eslint.config.js
  src/frontend/package.json
  src/frontend/src/components/DashboardLayout.tsx
  src/frontend/src/index.css
  src/frontend/src/providers/AuthProvider.tsx
  src/frontend/src/routes/roster/$id.tsx
  src/frontend/src/routes/roster/index.tsx
  src/frontend/src/routes/super-admin.tsx
  src/frontend/src/vite-env.d.ts
  src/frontend/tsconfig.app.json
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: authenticator plugin
  .agent/rules/typescript-guide.md
  .devcontainer/devcontainer.json
  src/backend/migrations/04_add_user_tribes_source.sql
  src/backend/src/admin.rs
  src/backend/src/main.rs
  src/backend/src/models.rs
  src/backend/src/roster.rs
  src/frontend/package-lock.json
  src/frontend/src/routes/super-admin.tsx
  src/murmur/authenticator.py
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: tidy up buttons
  src/backend/src/mumble.rs
  src/frontend/src/components/CopyButton.tsx
  src/frontend/src/components/MumbleStatus.tsx
  src/frontend/src/routes/roster/$id.tsx
  src/frontend/src/routes/super-admin.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: address PR #13 review comments - security, documentation, and optimization
  .agent/rules/rust-guide.md
  .devcontainer/devcontainer.json
  src/backend/src/admin.rs
  src/backend/src/main.rs
  src/backend/src/wallet.rs
  src/frontend/src/index.css
  src/frontend/src/routes/super-admin.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Add MIT License to the project
  LICENSE
Due: none

Revise security policy for supported versions and reporting
  SECURITY.md
Due: none

Revise SECURITY.md for vulnerability reporting and evaluation
  SECURITY.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Revise Pull Request template for better guidance
  .github/PULL_REQUEST_TEMPLATE
Due: none

chore: logo
  docs/README.md
  src/frontend/e2e/login.spec.ts
  src/frontend/src/routes/index.tsx
  src/frontend/src/routes/login.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

chore: tidy up icons
  .agent/rules/general-guide.md
  .env.example
  docs/backend.md
  examples/compose/.env.sample
  src/frontend/public/favicon.png
  src/frontend/src/components/ApiUnavailableScreen.tsx
  src/frontend/src/routes/index.tsx
  src/frontend/src/routes/login.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat: podman quadlets
  deploy/quadlet/README.md
  deploy/quadlet/void-backend.container
  deploy/quadlet/void-frontend.container
  deploy/quadlet/void-murmur.container
  deploy/quadlet/void.network
  src/frontend/Dockerfile
Due: none

fix: playwright test execution in different envs
  scripts/test-e2e.sh
  src/frontend/e2e/fixtures.ts
  src/frontend/e2e/login.spec.ts
  src/frontend/playwright.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: add envvars for Playwright
  .github/workflows/ci.yml
Due: none

fix: nginx config
  deploy/quadlet/deploy.sh
  deploy/quadlet/stop.sh
  deploy/quadlet/void-backend.container
  deploy/quadlet/void-frontend.container
  deploy/quadlet/void-murmur.container
  src/frontend/Dockerfile
  src/frontend/nginx.conf
Due: none

fix: publish releases
  .github/workflows/release.yml
Due: none

fix: nginx
  src/frontend/Dockerfile
  src/frontend/Dockerfile.release
Due: none

feat: implement runtime configuration for frontend API URL and fix linting
  .github/workflows/ci.yml
  deploy/quadlet/void-frontend.container
  src/frontend/Dockerfile
  src/frontend/Dockerfile.release
  src/frontend/entrypoint.sh
  src/frontend/index.html
  src/frontend/src/components/ApiGuard.tsx
  src/frontend/src/config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

feat: cloudflared
  deploy/compose/.env.sample
  deploy/compose/docker-compose.yml
  deploy/quadlet/deploy.sh
  deploy/quadlet/stop.sh
  deploy/quadlet/void-frontend.container
  deploy/quadlet/void-tunnel.container
  docker-compose.yml
  src/frontend/vite.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: CORS
  src/backend/src/main.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

fix: hardcoded "Fire" tribe
  src/backend/src/mumble.rs
  src/frontend/src/components/MumbleStatus.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fat: compliance docs
  src/frontend/bun.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/DashboardLayout.tsx
  src/frontend/src/index.css
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/$page.tsx
  src/frontend/src/vite-env.d.ts
  src/frontend/static/accessibility.md
  src/frontend/static/cookies.md
  src/frontend/static/privacy.md
  src/frontend/static/terms-of-service.md
  src/frontend/vite.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

refactor: optimize bundle size and fix network enforcement
  src/backend/migrations/05_add_network_to_wallets.sql
  src/backend/src/admin.rs
  src/backend/src/auth.rs
  src/backend/src/models.rs
  src/backend/src/roster.rs
  src/backend/src/state.rs
  src/backend/src/wallet.rs
  src/frontend/e2e/mock-wallet.ts
  src/frontend/e2e/wallet-linking.spec.ts
  src/frontend/index.html
  src/frontend/playwright.config.ts
  src/frontend/public/env-config.js
  src/frontend/src/components/CopyableField.tsx
  src/frontend/src/components/MumbleStatus.tsx
  src/frontend/src/config.ts
  src/frontend/src/hooks/useDebounce.ts
  src/frontend/src/providers/AppProviders.tsx
  src/frontend/src/providers/AuthProvider.tsx
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/home.lazy.tsx
  src/frontend/src/routes/home.tsx
  src/frontend/src/routes/roster/$id.lazy.tsx
  src/frontend/src/routes/roster/$id.tsx
  src/frontend/src/routes/roster/index.tsx
  src/frontend/src/routes/super-admin.lazy.tsx
  src/frontend/src/routes/super-admin.tsx
  src/frontend/src/utils.ts
  src/frontend/vite.config.ts
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: update wording
  src/frontend/static/terms-of-service.md
Due: none

feat: delete profile
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/backend/migrations/06_add_identity_hashes.sql
  src/backend/src/audit.rs
  src/backend/src/auth.rs
  src/backend/src/main.rs
  src/backend/src/wallet.rs
  src/frontend/src/providers/AuthProvider.tsx
  src/frontend/src/routes/home.lazy.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: upgrade to modal
  src/backend/src/lib.rs
  src/backend/src/main.rs
  src/frontend/src/components/ConfirmationModal.tsx
  src/frontend/src/routes/home.lazy.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

feat: completion of delete feature
  src/backend/src/auth.rs
  src/backend/src/wallet.rs
  src/frontend/src/components/ConfirmationModal.tsx
  src/frontend/src/index.css
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/deleted.tsx
  src/frontend/src/routes/home.lazy.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: address review comment on privacy.md regarding typo
  src/frontend/static/privacy.md
Due: none

fix: address review comment on vite.config.ts regarding __dirname
  src/frontend/vite.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

perf: address review comment on .tsx by lazy loading markdown dependencies
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/$page.lazy.tsx
  src/frontend/src/routes/$page.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

fix: address review comment on main.rs regarding missing discord_login in OpenAPI paths
  src/backend/src/main.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

fix: address review comment on ConfirmationModal.tsx regarding design-system mismatch
  src/frontend/src/components/ConfirmationModal.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

fix: address review comment on cookies.md regarding auth token storage
  src/frontend/static/cookies.md
Due: none

fix: address second round of review comments on PR #19
  src/backend/src/auth.rs
  src/frontend/src/components/ConfirmationModal.tsx
  src/frontend/src/providers/AuthProvider.tsx
  src/frontend/src/routes/home.lazy.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: address remaining PR comments
  src/backend/src/auth.rs
  src/backend/src/state.rs
  src/backend/src/wallet.rs
  src/frontend/src/components/ConfirmationModal.tsx
  src/frontend/vite.config.ts
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build
