Repository Scetrov/void-eid: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

rust-fmt:
  name: Rust Format (cargo fmt)
  entry: bash -c 'cd src/rust && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Lint (cargo clippy)
  entry: bash -c 'cd src/rust && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-build:
  name: Rust Build (cargo build)
  entry: bash -c 'cd src/rust && cargo build'
  language: system
  pass_filenames: false

rust-test:
  name: Rust Tests (cargo test)
  entry: bash -c 'cd src/rust && cargo test'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd src/sui && npm run build -- --noEmit 2>/dev/null || (npm run build 2>&1 | head -50)'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd src/sui && npm run lint'
  language: system
  pass_filenames: false

frontend-build:
  name: Frontend Build
  entry: bash -c 'cd src/sui && npm run build'
  language: system
  pass_filenames: false

fix: playwright in CI
  .github/workflows/ci.yml
Due: none

ci: add pepper
  .github/workflows/ci.yml
Due: none

fix: address review comment on vite.config.ts regarding command injection
  src/frontend/vite.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: address review comments on terminology and privacy policy accuracy
  src/frontend/src/routes/deleted.tsx
  src/frontend/static/privacy.md
Due: frontend-typecheck, frontend-lint, frontend-build

fix: address review comment on home.lazy.tsx regarding modal closure
  src/frontend/src/routes/home.lazy.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

docs: address review comment on .env.example regarding IDENTITY_HASH_PEPPER
  .env.example
Due: none

Compliance (#19)
  .env.example
  .github/workflows/ci.yml
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/backend/migrations/06_add_identity_hashes.sql
  src/backend/src/audit.rs
  src/backend/src/auth.rs
  src/backend/src/lib.rs
  src/backend/src/main.rs
  src/backend/src/state.rs
  src/backend/src/wallet.rs
  src/frontend/bun.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/components/ConfirmationModal.tsx
  src/frontend/src/components/DashboardLayout.tsx
  src/frontend/src/index.css
  src/frontend/src/providers/AuthProvider.tsx
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/$page.lazy.tsx
  src/frontend/src/routes/$page.tsx
  src/frontend/src/routes/deleted.tsx
  src/frontend/src/routes/home.lazy.tsx
  src/frontend/src/vite-env.d.ts
  src/frontend/static/accessibility.md
  src/frontend/static/cookies.md
  src/frontend/static/privacy.md
  src/frontend/static/terms-of-service.md
  src/frontend/vite.config.ts
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: VITE envvars not being passed
  src/frontend/entrypoint.sh
  src/frontend/index.html
  src/frontend/public/env-config.js
  src/frontend/src/config.test.ts
Due: frontend-typecheck, frontend-lint, frontend-build

docs: add security audit
  .github/prompts/security-audit.prompt.md
  .vscode/settings.json
  docs/security-audits/2026-02-14.md
Due: none

SEC-04: Remove INTERNAL_SECRET default value
  src/backend/src/auth.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

SEC-01: Add OAuth2 state parameter for CSRF protection
  src/backend/src/auth.rs
  src/backend/src/state.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

SEC-03: Externalize Murmur ICE secrets and remove weak defaults
  src/murmur/Dockerfile
  src/murmur/authenticator.py
  src/murmur/murmur.ini
  src/murmur/start.sh
Due: none

SEC-02: Remove JWT from URL redirect
  src/backend/src/auth.rs
  src/backend/src/bin/stub_api.rs
  src/backend/src/main.rs
  src/backend/src/state.rs
  src/frontend/e2e/login.spec.ts
  src/frontend/src/routes/auth/callback.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

SEC-06: Run containers as non-root user
  deploy/compose/docker-compose.yml
  deploy/quadlet/void-frontend.container
  src/backend/Dockerfile
  src/frontend/Dockerfile
  src/frontend/nginx.conf
Due: none

SEC-07: Sanitize database error responses
  src/backend/src/auth.rs
  src/backend/src/roster.rs
  src/backend/src/wallet.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

SEC-09: Add Content-Security-Policy and security headers
  src/frontend/nginx.conf
Due: none

SEC-08: Add TTL validation to wallet nonces
  src/backend/src/state.rs
  src/backend/src/wallet.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

SEC-10: Add input length validation
  src/backend/src/admin.rs
  src/backend/src/notes.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

SEC-11: Configure Dependabot for automated dependency and action updates
  .github/dependabot.yml
Due: none

SEC-12: Remove is_super_admin from JWT claims and re-validate in get_me
  src/backend/src/auth.rs
  src/backend/src/bin/stub_api.rs
  src/backend/src/roster.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

SEC-05: Add rate limiting to authentication endpoints
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/backend/src/bin/stub_api.rs
  src/backend/src/lib.rs
  src/backend/src/main.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

fix: Remove empty environment stanzas from docker-compose.yml
  deploy/compose/docker-compose.yml
Due: none

docs: Add Docker Compose deployment guide
  deploy/compose/README.md
Due: none

fix: Point docker-compose to workspace root .env file
  deploy/compose/.env.sample
  deploy/compose/README.md
  deploy/compose/docker-compose.yml
Due: none

fix: Gracefully handle missing git in frontend vite.config
  src/frontend/vite.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: Use SmartIpKeyExtractor for rate limiting in Docker
  src/backend/src/main.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

docs: Add comprehensive security audit remediation report
  docs/security-audits/2026-02-14-remediation.md
Due: none

docs: Update environment variable documentation for security audit remediation
  .env.example
  deploy/compose/README.md
  docs/README.md
  docs/backend.md
  docs/deployment.md
Due: none

fix: tidy up remediation doc
  docs/security-audits/2026-02-14-remediation.md
Due: none

fix: Murmur authenticator ICE secret and rate limiter Docker compatibility
  src/backend/src/main.rs
  src/murmur/start.sh
Due: rust-fmt, rust-clippy, rust-build, rust-test

fix: Increase auth code TTL and use API_URL config in callback
  src/backend/src/auth.rs
  src/frontend/src/routes/auth/callback.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

feat: Add /ping endpoint to replace /docs for health checks
  src/backend/src/bin/stub_api.rs
  src/backend/src/main.rs
  src/frontend/src/components/ApiGuard.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

docs: fix inconsistencies in security documentation
  .env.example
  deploy/compose/README.md
  docs/backend.md
  docs/deployment.md
  docs/security-audits/2026-02-14-remediation.md
Due: none

fix(backend): prevent unbounded memory growth in auth token storage
  src/backend/src/auth.rs
  src/backend/src/wallet.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

fix(murmur): make ICE secret configuration idempotent
  src/murmur/murmur.ini
  src/murmur/start.sh
Due: none

fix(e2e): update test fixtures for authorization code exchange flow
  src/frontend/e2e/fixtures.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: Address PR #20 review comments - CSP and grammar consistency
  src/backend/src/auth.rs
  src/frontend/nginx.conf
Due: rust-fmt, rust-clippy, rust-build, rust-test

fix: tidy up env
  .env.example
  deploy/compose/README.md
  docs/README.md
  docs/backend.md
  docs/deployment.md
  docs/security-audits/2026-02-14-remediation.md
  src/murmur/authenticator.py
  src/murmur/start.sh
Due: none

fix: finish clean up
  deploy/compose/README.md
Due: none

fix: prevent React Strict Mode double auth exchange & sed delimiter issue
  docs/backend.md
  docs/frontend.md
  src/frontend/src/routes/auth/callback.tsx
  src/murmur/start.sh
Due: frontend-typecheck, frontend-lint, frontend-build

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-build: any of: \.rs$
  rust-test: any of: \.rs$
  frontend-typecheck: any of: \.(ts|tsx)$
  frontend-lint: any of: \.(ts|tsx|js|jsx)$
  frontend-build: any of: \.(ts|tsx|js|jsx|css|html)$
