Repository Scetrov/void-eid: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-build: any of: \.rs$
  rust-test: any of: \.rs$
  frontend-typecheck: any of: \.(ts|tsx)$
  frontend-lint: any of: \.(ts|tsx|js|jsx)$
  frontend-build: any of: \.(ts|tsx|js|jsx|css|html)$

chore: fix lockfile
  src/frontend/bun.lock
Due: none

chore(frontend): standardize on bun
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .gitignore
  docs/README.md
  docs/contributing.md
  scripts/test-e2e.sh
  src/frontend/README.md
  src/frontend/openspec/changes/archive/2026-08-10-standardize-frontend-bun/.openspec.yaml
  src/frontend/openspec/changes/archive/2026-08-10-standardize-frontend-bun/design.md
  src/frontend/openspec/changes/archive/2026-08-10-standardize-frontend-bun/proposal.md
  src/frontend/openspec/changes/archive/2026-08-10-standardize-frontend-bun/specs/frontend-linting/spec.md
  src/frontend/openspec/changes/archive/2026-08-10-standardize-frontend-bun/specs/frontend-package-management/spec.md
  src/frontend/openspec/changes/archive/2026-08-10-standardize-frontend-bun/tasks.md
  src/frontend/openspec/specs/frontend-package-management/spec.md
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/playwright.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix(frontend): remove obsolete oxlint rule
  src/frontend/.oxlintrc.json
Due: none

docs(openspec): archive Sui SDK remediation
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/.openspec.yaml
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/design.md
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/proposal.md
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/specs/security-remediation/spec.md
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/tasks.md
  openspec/specs/security-remediation/spec.md
Due: none

docs(openspec): archive Sui SDK remediation (#225)
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/.openspec.yaml
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/design.md
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/proposal.md
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/specs/security-remediation/spec.md
  openspec/changes/archive/2026-09-01-remove-sui-sdk-mysten-metrics/tasks.md
  openspec/specs/security-remediation/spec.md
Due: none

fix(backend): remove unused sha2 import
  src/backend/src/sui_verify.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test
