Repository Scetrov/void-eid: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-build: any of: \.rs$
  rust-test: any of: \.rs$
  frontend-typecheck: any of: \.(ts|tsx)$
  frontend-lint: any of: \.(ts|tsx|js|jsx)$
  frontend-build: any of: \.(ts|tsx|js|jsx|css|html)$

fix: address PR #20 review comments
  docs/backend.md
  src/backend/src/main.rs
  src/frontend/Dockerfile.release
Due: rust-fmt, rust-clippy, rust-build, rust-test

docs: formatting
  docs/backend.md
  docs/frontend.md
Due: none

Security Audit Remediation Report (2026-02-14) (#20)
  .env.example
  .github/dependabot.yml
  .github/prompts/security-audit.prompt.md
  .vscode/settings.json
  deploy/compose/.env.sample
  deploy/compose/README.md
  deploy/compose/docker-compose.yml
  deploy/quadlet/void-frontend.container
  docs/README.md
  docs/backend.md
  docs/deployment.md
  docs/frontend.md
  docs/security-audits/2026-02-14-remediation.md
  docs/security-audits/2026-02-14.md
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/backend/Dockerfile
  src/backend/src/admin.rs
  src/backend/src/auth.rs
  src/backend/src/bin/stub_api.rs
  src/backend/src/lib.rs
  src/backend/src/main.rs
  src/backend/src/notes.rs
  src/backend/src/roster.rs
  src/backend/src/state.rs
  src/backend/src/wallet.rs
  src/frontend/Dockerfile
  src/frontend/Dockerfile.release
  src/frontend/e2e/fixtures.ts
  src/frontend/e2e/login.spec.ts
  src/frontend/nginx.conf
  src/frontend/src/components/ApiGuard.tsx
  src/frontend/src/routes/auth/callback.tsx
  src/frontend/vite.config.ts
  src/murmur/Dockerfile
  src/murmur/authenticator.py
  src/murmur/murmur.ini
  src/murmur/start.sh
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: release v0.3.2 breaks rootless podman
  src/backend/Dockerfile
  src/frontend/Dockerfile
  src/frontend/entrypoint.sh
  src/frontend/nginx.conf
Due: none

fix(backend): update GovernorLayer API usage for tower_governor 0.8.0
  src/backend/src/main.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

fix(frontend): resolve setState in effect linting error for eslint-plugin-react-hooks 7.0.1
  src/frontend/src/components/ConfirmationModal.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

fix(backend): update rand 0.10.0 API - use RngExt trait
  src/backend/src/mumble.rs
  src/backend/src/roster.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

fix: permission error with /usr
  src/frontend/Dockerfile.release
Due: none

fix: remove pid from nginx config
  src/frontend/nginx.conf
Due: none

fix: chown appuser
  src/frontend/Dockerfile
Due: none

fix: rootless Podman
  src/frontend/Dockerfile
  src/frontend/Dockerfile.release
  src/frontend/nginx.main.conf
Due: none

fix: chown volume
  deploy/quadlet/void-backend.container
Due: none

fix: CSP
  src/frontend/nginx.conf
Due: none

fix: update bun lock
  src/frontend/bun.lock
Due: none

chore: disable bonjour, enable WAL
  src/murmur/murmur.ini
Due: none

fix: add log retention = 31 days
  src/murmur/murmur.ini
Due: none

chore: group updates
  .github/dependabot.yml
Due: none

ci: revert rust toolchain to 1.96.0
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

ci: fix template injection in version patching
  .github/workflows/ci.yml
Due: none

chore: patch security vulnerabilities in dependencies and dockerfiles
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/frontend/Dockerfile
Due: none

chore: cleanup agents
  .agents/rules/docker-guide.md
  .agents/rules/frontend-design.md
  .agents/rules/frontend-guide.md
  .agents/rules/general-guide.md
  .agents/rules/github-actions-guide.md
  .agents/rules/rust-guide.md
  .agents/rules/typescript-guide.md
  .agents/workflows/address-pr-comments.md
  .agents/workflows/security-audit.md
  .gitignore
  openspec/config.yaml
Due: none

security: remediate appsec findings
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  deploy/compose/docker-compose.yml
  docs/supply-chain-risk-register.md
  openspec/changes/archive/2026-06-18-remediate-appsec-findings/.openspec.yaml
  openspec/changes/archive/2026-06-18-remediate-appsec-findings/design.md
  openspec/changes/archive/2026-06-18-remediate-appsec-findings/proposal.md
  openspec/changes/archive/2026-06-18-remediate-appsec-findings/remediation-notes.md
  openspec/changes/archive/2026-06-18-remediate-appsec-findings/specs/security-remediation/spec.md
  openspec/changes/archive/2026-06-18-remediate-appsec-findings/tasks.md
  openspec/specs/security-remediation/spec.md
  scripts/build-all.sh
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/backend/Dockerfile
  src/backend/Dockerfile.dev
  src/backend/src/admin.rs
  src/backend/src/auth.rs
  src/backend/src/bin/stub_api.rs
  src/backend/src/helpers.rs
  src/backend/src/lib.rs
  src/backend/src/main.rs
  src/backend/src/mumble.rs
  src/backend/src/notes.rs
  src/backend/src/wallet.rs
  src/frontend/Dockerfile
  src/frontend/Dockerfile.dev
  src/frontend/Dockerfile.release
  src/frontend/bun.lock
  src/frontend/package-lock.json
  src/frontend/package.json
  src/murmur/Dockerfile
  src/murmur/start.sh
Due: rust-fmt, rust-clippy, rust-build, rust-test

ci: fix dtolnay/rust-toolchain pin to 1.96.0 SHA
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

refactor(backend): remove sui-sdk and mysten-metrics
  openspec/changes/remove-sui-sdk-mysten-metrics/.openspec.yaml
  openspec/changes/remove-sui-sdk-mysten-metrics/design.md
  openspec/changes/remove-sui-sdk-mysten-metrics/proposal.md
  openspec/changes/remove-sui-sdk-mysten-metrics/specs/security-remediation/spec.md
  openspec/changes/remove-sui-sdk-mysten-metrics/tasks.md
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/backend/src/lib.rs
  src/backend/src/sui_verify.rs
  src/backend/src/wallet.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

ci(dependabot): group docker updates by service
  .github/dependabot.yml
Due: none

fix(backend): format Sui verifier changes
  src/backend/Cargo.lock
  src/backend/src/lib.rs
  src/backend/src/sui_verify.rs
  src/backend/src/wallet.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

remove sui-sdk and mysten-metrics (#172)
  .github/dependabot.yml
  openspec/changes/remove-sui-sdk-mysten-metrics/.openspec.yaml
  openspec/changes/remove-sui-sdk-mysten-metrics/design.md
  openspec/changes/remove-sui-sdk-mysten-metrics/proposal.md
  openspec/changes/remove-sui-sdk-mysten-metrics/specs/security-remediation/spec.md
  openspec/changes/remove-sui-sdk-mysten-metrics/tasks.md
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/backend/src/lib.rs
  src/backend/src/sui_verify.rs
  src/backend/src/wallet.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

Fix Sui verifier signature compatibility
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/backend/src/sui_verify.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

chore: combine dependency updates (#176)
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/backend/Dockerfile
  src/backend/Dockerfile.dev
  src/backend/src/sui_verify.rs
  src/frontend/Dockerfile
  src/frontend/Dockerfile.dev
  src/frontend/Dockerfile.release
  src/frontend/package-lock.json
  src/frontend/package.json
  src/murmur/Dockerfile
Due: rust-fmt, rust-clippy, rust-build, rust-test

fix: update lockfile
  src/frontend/bun.lock
Due: none

chore(deps): update lockfile
  src/frontend/bun.lock
Due: none

chore: setup OpenSpec
  src/openspec/config.yaml
Due: none

fix(frontend): revert typescript to 6.0.3 to fix broken lint
  src/frontend/bun.lock
  src/frontend/package.json
Due: none

fix: lockfile
  src/frontend/bun.lock
Due: none

chore: update lockfile
  src/frontend/bun.lock
Due: none

feat(frontend): migrate linting to oxlint
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  scripts/test-e2e.sh
  src/frontend/.oxlintrc.json
  src/frontend/eslint.config.js
  src/frontend/openspec/changes/archive/2026-08-03-migrate-to-oxlint/.openspec.yaml
  src/frontend/openspec/changes/archive/2026-08-03-migrate-to-oxlint/design.md
  src/frontend/openspec/changes/archive/2026-08-03-migrate-to-oxlint/proposal.md
  src/frontend/openspec/changes/archive/2026-08-03-migrate-to-oxlint/rule-coverage.md
  src/frontend/openspec/changes/archive/2026-08-03-migrate-to-oxlint/specs/frontend-linting/spec.md
  src/frontend/openspec/changes/archive/2026-08-03-migrate-to-oxlint/tasks.md
  src/frontend/openspec/specs/frontend-linting/spec.md
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/playwright.config.ts
  src/frontend/src/test-setup.ts
  src/frontend/vitest.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix(frontend): refresh Bun lockfile
  src/frontend/bun.lock
Due: none
