Repository Scetrov/void-eid: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

rust-fmt:
  name: Rust Format (cargo fmt)
  entry: bash -c 'cd src/rust && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Lint (cargo clippy)
  entry: bash -c 'cd src/rust && cargo clippy --all-targets --all-features -- -D warnings'
  language: system
  pass_filenames: false

rust-build:
  name: Rust Build (cargo build)
  entry: bash -c 'cd src/rust && cargo build'
  language: system
  pass_filenames: false

rust-test:
  name: Rust Tests (cargo test)
  entry: bash -c 'cd src/rust && cargo test'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend TypeScript Check
  entry: bash -c 'cd src/sui && npm run build -- --noEmit 2>/dev/null || (npm run build 2>&1 | head -50)'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd src/sui && npm run lint'
  language: system
  pass_filenames: false

frontend-build:
  name: Frontend Build
  entry: bash -c 'cd src/sui && npm run build'
  language: system
  pass_filenames: false

chore: add docs
  .github/copilot-instructions.md
  .github/prompts/plan-rider-check.prompt.md
Due: none

fix: Discord icon and audit improvements
  src/rust/src/audit.rs
  src/rust/src/auth.rs
  src/rust/src/roster.rs
  src/sui/src/assets/discord.svg
  src/sui/src/routes/dashboard.tsx
  src/sui/src/routes/index.tsx
  src/sui/src/routes/login.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

feat: improved multi-tribe support
  .vscode/tasks.json
  src/rust/migrations/01_init.sql
  src/rust/migrations/02_add_roster_fields.sql
  src/rust/migrations/03_add_audit_logs.sql
  src/rust/migrations/04_add_last_login.sql
  src/rust/scripts/debug_wallets.py
  src/rust/scripts/seed_test_data.py
  src/rust/scripts/setup_admin.py
  src/rust/src/auth.rs
  src/rust/src/helpers.rs
  src/rust/src/models.rs
  src/rust/src/roster.rs
  src/rust/src/wallet.rs
  src/sui/src/components/DashboardLayout.tsx
  src/sui/src/components/TribeSelector.tsx
  src/sui/src/index.css
  src/sui/src/providers/AuthProvider.tsx
  src/sui/src/routes/dashboard.tsx
  src/sui/src/routes/roster/$id.tsx
  src/sui/src/routes/roster/index.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

ci: setup comprehensive CI/CD pipeline
  .cz.yaml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Due: none

fix(ci): track subdirectory lockfiles and resolve dependency conflict
  .github/workflows/release.yml
  .gitignore
  src/rust/Cargo.lock
  src/rust/Cargo.toml
Due: none

ci: upgrade to Node.js 24 and ensure Rust stable consistency
  .github/workflows/ci.yml
  src/sui/Dockerfile
Due: none

chore: update Node and Rust dependencies to latest stable versions
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/src/auth.rs
  src/sui/package-lock.json
  src/sui/package.json
Due: rust-fmt, rust-clippy, rust-build, rust-test

chore: regenerate package-lock.json to include all platform dependencies
  src/sui/package-lock.json
Due: none

chore: fix frontend lint and typescript errors after dependency updates
  src/sui/eslint.config.js
  src/sui/src/providers/AppProviders.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat: add hover states to table rows for better grouping visibility
  src/sui/src/index.css
Due: frontend-build

chore: update github actions to latest versions
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Due: none

feat(auth): improve discord error logging and add cargo-watch task
  .vscode/tasks.json
  docs/README.md
  src/rust/src/auth.rs
  src/rust/src/main.rs
Due: rust-fmt, rust-clippy, rust-build, rust-test

chore: bump actions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
Due: none

feat: refactor admin tribe navigation and merge db migrations
  scripts/test-e2e.sh
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/migrations/01_init.sql
  src/rust/src/auth.rs
  src/rust/src/bin/stub_api.rs
  src/rust/src/lib.rs
  src/rust/src/main.rs
  src/rust/src/models.rs
  src/sui/.env.test
  src/sui/e2e/roster.spec.ts
  src/sui/e2e/stub.spec.ts
  src/sui/package.json
  src/sui/playwright.config.ts
  src/sui/src/components/AdminTribeNav.tsx
  src/sui/src/components/DashboardLayout.tsx
  src/sui/src/components/TribeSelector.tsx
  src/sui/src/index.css
  src/sui/src/providers/AuthProvider.tsx
  src/sui/src/routes/roster/index.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

chore: tidy up roster and data structures
  .github/copilot-instructions.md
  src/rust/migrations/01_init.sql
  src/rust/scripts/seed_test_data.py
  src/rust/scripts/setup_admin.py
  src/rust/src/audit.rs
  src/rust/src/auth.rs
  src/rust/src/bin/stub_api.rs
  src/rust/src/helpers.rs
  src/rust/src/main.rs
  src/rust/src/models.rs
  src/rust/src/roster.rs
  src/rust/src/wallet.rs
  src/sui/e2e/roster.spec.ts
  src/sui/src/routes/roster/$id.tsx
  src/sui/src/routes/roster/index.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

feat(roster): add tribe-scoped notes, grant-admin endpoint, UI + audit logging
  src/rust/migrations/02_notes_table.sql
  src/rust/src/audit.rs
  src/rust/src/lib.rs
  src/rust/src/main.rs
  src/rust/src/models.rs
  src/rust/src/notes.rs
  src/rust/src/roster.rs
  src/sui/src/routes/roster/$id.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

feat: mumble support
  .pre-commit-config.yaml
  .vscode/tasks.json
  docker-compose.yml
  docs/design-system.md
  src/backend/migrations/04_unique_wallets_address.sql
  src/backend/scripts/debug_wallets.py
  src/backend/scripts/seed_test_data.py
  src/backend/scripts/setup_admin.py
  src/backend/src/audit.rs
  src/backend/src/auth.rs
  src/backend/src/helpers.rs
  src/backend/src/main.rs
  src/backend/src/mumble.rs
  src/backend/src/notes.rs
  src/backend/src/state.rs
  src/backend/src/wallet.rs
  src/frontend/Dockerfile.dev
  src/frontend/e2e/home.spec.ts
  src/frontend/e2e/roster-member.spec.ts
  src/frontend/e2e/roster.spec.ts
  src/frontend/e2e/stub.spec.ts
  src/frontend/src/components/DashboardLayout.tsx
  src/frontend/src/components/MumbleStatus.tsx
  src/frontend/src/index.css
  src/frontend/src/routeTree.gen.ts
  src/frontend/src/routes/auth/callback.tsx
  src/frontend/src/routes/home.tsx
  src/frontend/src/routes/index.tsx
  src/frontend/src/routes/mumble.tsx
  src/frontend/src/routes/roster/$id.tsx
  src/frontend/src/routes/roster/index.tsx
  src/frontend/src/routes/voice.tsx
  src/murmur/Dockerfile
  src/murmur/Murmur.ice
  src/murmur/authenticator.py
  src/murmur/murmur.ini
  src/murmur/start.sh
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

feat: scramble titles
  src/frontend/src/components/CipherNavText.tsx
  src/frontend/src/components/DashboardLayout.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

fix: ci failures
  .github/workflows/ci.yml
  src/frontend/playwright.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

chore: add copilot-instructions
  .github/copilot-instructions.md
Due: none

chore: add GitHub MCP
  .vscode/mcps.json
Due: none

chore: prep for CI refactor
  .github/prompts/plan-refactorCiPlaywrightMatrix.prompt.md
  .github/workflows/ci.yml
Due: none

fix: GitHub workflow
  .github/workflows/ci.yml
  .vscode/tasks.json
  docs/contributing.md
  scripts/test-e2e.sh
  src/frontend/e2e/home.spec.ts
  src/frontend/e2e/login.spec.ts
  src/frontend/e2e/roster-member.spec.ts
  src/frontend/e2e/stub.spec.ts
  src/frontend/playwright.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: E2E test failures - add health checks and fix route mocking
  .github/workflows/ci.yml
  src/frontend/e2e/home.spec.ts
  src/frontend/e2e/roster-member.spec.ts
  src/frontend/e2e/roster.spec.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: mcp configs
  .github/prompts/fix-build.prompt.md
  .vscode/mcp.json
  .vscode/settings.json
Due: none

fix: E2E test failures - proper health checks and auth initialization
  .github/prompts/fix-build.prompt.md
  .github/workflows/ci.yml
  src/frontend/e2e/home.spec.ts
  src/frontend/e2e/roster-member.spec.ts
  src/frontend/e2e/roster.spec.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: playwright
  .vscode/tasks.json
  scripts/test-e2e.sh
  src/backend/src/bin/stub_api.rs
  src/frontend/e2e/home.spec.ts
  src/frontend/e2e/roster-member.spec.ts
  src/frontend/e2e/roster.spec.ts
  src/frontend/e2e/stub.spec.ts
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

fix: use inprocess server
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  src/frontend/e2e/login.spec.ts
  src/frontend/e2e/roster-member.spec.ts
  src/frontend/e2e/roster.spec.ts
  src/frontend/playwright.config.ts
  src/frontend/src/components/CipherNavText.tsx
  src/frontend/src/components/MumbleStatus.tsx
  src/frontend/src/main.tsx
  src/frontend/src/routes/auth/callback.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

chore: remove old plans
  .github/prompts/plan-refactorCiPlaywrightMatrix.prompt.md
  .github/prompts/plan-rider-check.prompt.md
Due: none

fix: centralize API URL config and fix CI environment
  .github/workflows/ci.yml
  src/frontend/src/components/ApiGuard.tsx
  src/frontend/src/components/ApiUnavailableScreen.tsx
  src/frontend/src/components/MumbleStatus.tsx
  src/frontend/src/config.ts
  src/frontend/src/providers/AuthProvider.tsx
  src/frontend/src/routes/roster/$id.tsx
  src/frontend/src/routes/roster/index.tsx
  src/frontend/vite.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: env abstraction
  src/frontend/src/components/ApiGuard.tsx
  src/frontend/src/components/ApiUnavailableScreen.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat: add loading / error animation
  src/frontend/src/providers/AppProviders.tsx
  src/frontend/vite.config.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix: playwright
  scripts/test-e2e.sh
  src/backend/src/auth.rs
  src/backend/src/bin/stub_api.rs
  src/backend/src/roster.rs
  src/frontend/blob-report/report.zip
  src/frontend/e2e/fixtures.ts
  src/frontend/e2e/home.spec.ts
  src/frontend/e2e/roster-member.spec.ts
  src/frontend/e2e/roster.spec.ts
  src/frontend/e2e/stub.spec.ts
  src/frontend/playwright.config.ts
  src/frontend/src/components/DashboardLayout.tsx
  src/frontend/src/index.css
  src/frontend/src/routes/roster/index.tsx
Due: rust-fmt, rust-clippy, rust-build, rust-test, frontend-typecheck, frontend-lint, frontend-build

chore(release): prepare for 0.1.0
  .cz.yaml
  src/frontend/package.json
Due: none

fix: release workflow syntax
  .github/workflows/release.yml
Due: none

fix: use correct bun base image in frontend Dockerfile
  src/frontend/Dockerfile
Due: none

ci: improve release process
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/backend/Dockerfile.release
  src/frontend/Dockerfile.release
Due: none

chore: improve release process
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/backend/Cargo.lock
  src/backend/Cargo.toml
  src/frontend/package.json
Due: none

fix: don't attempt to commit
  .github/workflows/release.yml
  docs/README.md
  docs/release-process.md
Due: none

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  rust-build: any of: \.rs$
  rust-test: any of: \.rs$
  frontend-typecheck: any of: \.(ts|tsx)$
  frontend-lint: any of: \.(ts|tsx|js|jsx)$
  frontend-build: any of: \.(ts|tsx|js|jsx|css|html)$
